

#tdMap {
    width:330px;
    position: relative;
}

#tdMap .tdCell {
    width:60px;
    height:60px;
    float:left;
    margin: 2px;
    border-radius: 4px;



}
#tdMap .emptyCell {
    border: 1px solid;
}
#tdMap .tdUnit {
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;

    position: absolute;
    width:60px;
    height:60px;
    border: 1px solid lightcoral;
}

#tdMap .tdUnit.playerUnit {
    border: 1px solid lawngreen;
}

#tdMap .tdButton {
    position: absolute;
    width:15px;
    height:15px;
}

#tdMap .tdButton.tdGoTopButton{
    top:0px;
    left:21px;
}
#tdMap .tdButton.tdGoRightButton{
    top:21px;
    left:41px;
}
#tdMap .tdButton.tdGoBottomButton{
    top:41px;
    left:21px;
}
#tdMap .tdButton.tdGoLeftButton{
    top:21px;
    left:0px;
}
#tdMap .tdButton.tdStopButton{
    top:20px;
    left:20px;
    width: 20px;
    height: 20px;
}