

#tdMap {
    position: relative;
}

* {
    -webkit-box-sizing: border-box;
}

#tdMap .tdCell {
    width:60px;
    height:60px;
    float:left;
    margin: 2px;
    border-radius: 4px;
}
#tdMap .tdCell.main-road {
    background-color: #F0E5DF;
}
#tdMap .tdCell.side-road {
    background-color: #ffffcc;
}

#tdMap .emptyCell {
    border: 1px solid;
    position: relative;
}
#tdMap .tdUnit {
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
    border-radius: 4px;

    position: absolute;
    width:60px;
    height:60px;
    /*border: 2px solid #C26213;*/
    background-color: #C26213;
}

#tdMap .tdUnit.boss {
    background-color: #C21348;
}

#tdMap .tdUnit.playerUnit {
    border: 0px;
    background-color: #30AB22;
    color: #FFFFFF;
}

#tdMap .tdUnit.playerUnit.unit-move-0 { border-radius: 30px 30px 4px 4px; }
#tdMap .tdUnit.playerUnit.unit-move-1 { border-radius: 4px 30px 30px 4px; }
#tdMap .tdUnit.playerUnit.unit-move-2 { border-radius: 4px 4px 30px 30px; }
#tdMap .tdUnit.playerUnit.unit-move-3 { border-radius: 30px 4px 4px 30px; }

#tdMap .tdButton {
    position: absolute;
    width:15px;
    height:15px;
    color: #000000;
}

#tdMap .tdButton.tdGoTopButton{
    top:-4px;
    left:22px;
}
#tdMap .tdButton.tdGoRightButton{
    top:21px;
    left:45px;
}
#tdMap .tdButton.tdGoBottomButton{
    top:44px;
    left:22px;
}
#tdMap .tdButton.tdGoLeftButton{
    top:21px;
    left:-3px;
}
#tdMap .tdButton.tdStopButton{
    top:20px;
    left:20px;
    width: 20px;
    height: 20px;
}

#tdMap .arrow {
    position: absolute;
    top:32px;
    left:32px;
    margin: -10px 0px 0px -10px;
    /*opacity: 0;*/
    display: none;
}

#tdMap .arrow.fa-long-arrow-up, #tdMap .arrow.fa-long-arrow-down {
    left:36px;
}

#tdMap .bonus{
    width: 30px;
    height: 30px;
    background-color: #bcd42a;
    position: absolute;
    border-radius: 30px;
    line-height: 30px;
    text-align: center;
    top: 14px;
    left: 14px;
}

#tdMap .bonus.b-minus {
    background-color: #ED7B61;
}